
<!--The content below is only a placeholder and can be replaced.-->
<!-- Image and text -->

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">
      <img src="./././../favicon.ico" width="30" height="30" class="d-inline-block align-top" >
    Remiljwscrum
    </a>

    <div >
      <div class="navbar-nav">
      <a class="nav-item nav-link" style="margin:10px" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" style="margin:10px" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-item nav-link" style="margin:10px" routerLink="/signup" routerLinkActive="active">SignUp</a>
      <a class="nav-item nav-link" style="margin:10px" routerLink="/scrumboard" routerLinkActive="active">Sscrum</a>

      </div>
    </div>
  </nav>






<router-outlet></router-outlet>
